.black-cell.highlighted {
    background-color: #86890C;
}

.black-cell {
    background-color: #3E3E3E;
}

.white-cell.highlighted {
    background-color: #EDF30F;
}

.white-cell {
    background-color: white;
}

.cell {
    width: 45px;
    height: 45px;
    border: 1px solid black;
}
